/*
------- Dividers --------
*/

.divide {
    margin: 0 auto;
    width: 85%;
    height: 2px;
    background-color: #010;
}
.text-underline {
    width: 100%;
    height: 2px;
    background-color: lightgray;
}

/*
------- Nav Bar --------
*/

.nav-wrapper {
    display:inline
}

.menu-bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 60px;
    overflow: hidden;
    background-color: #333;
}

.menu-bar li a {
    display:inline-block;
    color: white;
    line-height: 60px;
    text-align: center;
    padding: 0px 16px;
    height: 60px;
    font-family: "Arial", "Helvetica", sans-serif;
    text-decoration: none;
}

.title {
    font-size: xx-large;
    float: right;
    text-align: center;
}

.narrow-hide {
    float: left;
    display: none;
}

/* Change the link color to #111 (black) on hover */
.menu-bar li a:hover {
    background-color: #111;
}

footer {
    width: 100%;
    text-align: center;
}


/*
------- Hamburger and Animation --------
*/

.hamburger {
    display: inline-block;
    cursor: pointer;
    padding: 14px 16px;
    float: left;
}

.bar1, .bar2, .bar3 {
    width: 25px;
    height: 3px;
    background-color: darkgray;
    margin: 6px 0;
    transition: 0.4s;
}


.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-8px, 8px) ;
    transform: rotate(-45deg) translate(-8px, 8px) ;
}


.change .bar2 {
    opacity: 0;
}


.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-5px, -5px) ;
    transform: rotate(45deg) translate(-5px, -5px) ;
}

/*
------- Social Media Buttons --------
*/

.social {
    width: 100%;
    padding-top: 5px;
    margin: 0 auto;
}

.social-center {
    display: flex;
    justify-content: center;
}

.social a {
    padding: 5px;
}

.social img {
    max-width: 50px;
    max-height: 50px;
}


/*
------- Slides and Div Sections for Resume --------
*/
.slide-nav {
    display: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 40px;
    overflow: hidden;
    background-color: #30799B;
}

.slide-nav li a {
    display:inline-block;
    float:left;
    display: -moz-inline-box;
    *display: inline; /* For IE7 */
    zoom: 1; /* Trigger hasLayout */
    margin-left: 1%;
    width:32%;
    color: white;
    line-height: 40px;
    text-align: center;
    padding: 0px 16px;
    height: 60px;
    font-family: "Arial", "Helvetica", sans-serif;
    text-decoration: none;
}

.slide-nav li a:hover {
    background-color: #22415B;
}

.banner-top {
    font-family: "Arial Narrow", Arial, sans-serif;
    color: black;
    width: 100%;
    height: 100vh;
    background-image: url("/static/img/IMG_0413.jpg");
    overflow: hidden;
    background-size: cover;
}


.banner-top-lrg {
    background-attachment: fixed;
}

.banner-title {
    text-align: center;
    align-items: center;
}

.res-button {
    padding-top: 10%;
    text-align:center;
}

.slides h1 {
    font-size: 9rem;
    font-family: "Arial Narrow", Arial, sans-serif;
    color: white;
    text-decoration: underline overline;
    margin-top: 0px;
    padding-top: 15%;
}

.slides h2 {
    font-size: 5rem;
    margin-bottom: 0px;
}

.slides h3 {
    color: #343434;
}

.slides h4 {
    color: #6d6d6d;
}

.slide-title {
    padding:0px 15px 15px 15px;
}

.slide-info {
    padding:15px 15px 0px 15px;
}
.slide-child {
    margin:20px;
    min-height: 100px;
    color: #6d6d6d;
}

/*
------- Resume Button --------
*/

.button {
    margin: 0 auto;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    color: white;
    border: 2px solid white;
    background-color: Transparent;

}

.button:hover {
    background-color: white;
    color: black;
}

/*
------- Home Header --------
*/

.head-container {
    font-family: "Arial Narrow", Arial, sans-serif;
    color: black;
    width: 100%;
    height: 50vh;
    background-image: url("/static/img/IMG_WALK.JPG");
    overflow: hidden;
    background-size: cover;
}

.head-slide {
    text-align: center;
    align-items: center;
    padding-top: 10%;
    background: rgba(1,1,1,0.5);
    width: 100%;
    height: 100%;
}

.head-container h1 {
    font-size: 5rem;
    font-family: "Arial Narrow", Arial, sans-serif;
    color: white;
    margin-top: 0px;

}.head-container h4 {
    font-family: cursive;
    font-size: 2rem;
    color: white;
 }



 /*
------- Contact Header --------
*/

.head-container-contact {
    font-family: "Arial Narrow", Arial, sans-serif;
    color: black;
    width: 100%;
    height: 50vh;
    background-image: url("/static/img/IMG_PDX.png");
    overflow: hidden;
    background-size: cover;
}

.head-slide-contact {
    text-align: center;
    align-items: center;
    padding-top: 10%;
    background: rgba(1,1,1,0.5);
    width: 100%;
    height: 100%;
}

.head-container-contact h1 {
    font-size: 5rem;
    font-family: "Arial Narrow", Arial, sans-serif;
    color: white;
    margin-top: 0px;

}.head-container-contact h4 {
    font-family: cursive;
    font-size: 2rem;
    color: white;
 }



 /*
---- Bootstrap override ----
*/

@media (min-width: 992px) {
    #col {
        width: unset;
    }

}

@media (min-width: 768px) {
    #col {
        width: unset;
    }
}

 #col {
     padding-right: 0px;
     padding-left: 0px;
 }

 #row {
     padding-right: 0px;
     padding-left: 0px;
 }

 /*
------- About Slides --------
*/


.image-slide {
    padding-top: 20px;
    padding-bottom: 20px;
}

.body-slide img {
    width: 100%;
}

.moreinfo-slide {
    padding-top: 20px;
    padding-bottom: 20px;
}

 /*
------- About Image Adj --------
*/


.circular-portrait {
    text-align: center;
    clip-path: circle(75px at center);
}

.circular-portrait img {
    width: 200px;
}


 /*
------- About Image Divs --------
*/

.img-div {
    position: relative;
    width: 100%;
    height: 30px;
    overflow: hidden;
}

.img-div img {
    position: absolute;
    top: -20px;
    width: 100%;
    min-width: 1000px;
}

.img-div-too {
    position: relative;
    width: 100%;
    height: 30px;
    overflow: hidden;
}

.img-div-too img {
    position: absolute;
    top: -50px;
    width: 100%;
    min-width: 1000px;
}


.contact-info ul {
    list-style-type: none;
}