{% extends "base.html" %}
{% block content %}
<body>
<div class="head-container-contact">
    <div class="head-slide-contact">
        <h4>thanks for stopping by...</h4>
        <h1 class="res-title">WOULD YOU LIKE TO CONNECT?</h1>
    </div>
</div>
<div class="contact-info">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h3><i>Get in touch</i></h3>
                <p>Please feel free to reach out to me if you have any questions, comments, or just want to say hello.</p>
            </div>
            <div class="col-sm-6">
                <h5>CONTACT INFORMATION</h5>
                <ul>
                    <li>P. <a href="tel:+15037996906">(503) 799-6906</a></li>
                    <li>E. <a href="mailto:robert@robertclifton.net">Robert@robertclifton.net</a></li>
                    <li>W. <a href="https://www.robertclifton.net">robertclifton.net</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<br>
<div class="divide"></div>
<div class="social">
    <div class="social-center">
        <a class="social-button" href="mailto:robert@robertclifton.net"><img src="/static/img/email-14-64.png"></a>
        <a class="social-button" href="https://github.com/rdclif"><img src="/static/img/github-9-64.png"></a>
        <a class="social-button" href="https://www.linkedin.com/in/robert-d-clifton/"><img src="/static/img/linkedin-4-64.png"></a>
    </div>
</div>

</body>

{% endblock %}
