{% extends "base.html" %}
{% block content %}
<body>
<br>
<div>
    So Much Nothing...
</div>
<br>
<div class="divide"></div>
<div class="social">
    <div class="social-center">
        <a class="social-button" href="mailto:robert.d.clifton@gmail.com"><img src="/static/email-14-64.png"></a>
        <a class="social-button" href="https://github.com/rdclif"><img src="/static/github-9-64.png"></a>
        <a class="social-button" href="https://www.linkedin.com/in/robert-d-clifton/"><img src="/static/linkedin-4-64.png"></a>
    </div>
</div>

</body>

{% endblock %}
