{% extends "base.html" %}
{% block content %}
    <div class="head-container">
        <div class="head-slide">
            <h4>hello...</h4>
            <h1 class="res-title">MY PASSIONS AND PERSONALITY</h1>
        </div>
    </div>
    <div class="image-slide">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <div class="circular-portrait">
                        <img src="/static/img/IMG_0973.jpg">
                    </div>
                </div>
                <div class="col-sm-8">
                    <h4>I'm Robert.</h4>
                    <p><i>As a recent graduate in engineering computer science, I am passionate about writing code and creating new software applications. I am hoping to obtain a position in this field that allows me to utilize my strong technical skills in creating meaningful software while allowing me to grow, adapt, and expand those skills. While I may lack years of professional experience as a programmer, I am driven and will use my recent education and work experience to create positive outcomes for your company. I enjoy working through complex issues both independently and in a team setting, and define success in coding to be the creation of high-quality, meaningful, and useful software.</i></p>
                </div>
            </div>
        </div>
    </div>
    <div class="img-div">
        <img src="/static/img/code.png">
    </div>
    <div class="moreinfo-slide">
        <div class="container">
            <div class="row">
                <div class="col-sm-12" id="headline">
                    <p><h3>Robert is a computer science graduate who enjoys exploring technology, solving problems, and creating meaningful software.</h3></p>
                </div>
            </div>
        </div>
    </div>
    <div class="img-div-too">
        <img src="/static/img/code.png">
    </div>
    <div class="moreinfo-slide">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h4>On a more personal note... </h4>
                    <p><i>When I’m not working, you might find me out exploring anything and everything in the pacific northwest. I am passionate about travel, whether it’s an hour long drive or a fourteen hour plane ride away. You may notice this passion coming through in my personal pictures featured on this website – all were taken during recent trips. When I am in town I enjoy trying new restaurants, breweries, and catching every Timbers or Beavers game that I can. #RCTD #GoBEAVS</i></p>
                </div>
            </div>
        </div>
    </div>
    <div class="body-slide">
        <div class="container" id="col">
            <div class="row">
                <div class="col-sm-3" id="row" >
                    <img src="/static/img/IMG_0408.jpg">
                </div>
                <div class="col-sm-3" id="row">
                    <img src="/static/img/IMG_1508.jpg">
                </div>
                <div class="col-sm-3" id="row">
                    <img src="/static/img/S5002057.jpg">
                </div>
                <div class="col-sm-3" id="row">
                    <img src="/static/img/IMG_1610.jpg">
                </div>
            </div>
        </div>
    </div>
{% endblock %}