{% extends "base.html" %}
{% block content %}
    <div class="head-container">
        <div class="head-slide">
            <h4>hello...</h4>
            <h1 class="res-title">MY PASSIONS AND PERSONALITY</h1>
        </div>
    </div>
    <div class="image-slide">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <div class="circular-portrait">
                        <img src="/static/img/IMG_1ME.jpg">
                    </div>
                </div>
                <div class="col-sm-8">
                    <h4>About Me</h4>
                    <p><i>My name is Robert...Blah Blah, I am Special...</i></p>
                </div>
            </div>
        </div>
    </div>
    <div class="img-div">
        <img src="/static/img/IMG_1001.jpg">
    </div>
    <div class="moreinfo-slide">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <p><h4><i>Robert is a computer scientist who enjoys exploring technology and how it impacts and shapes this experience we call life.</i></h4></p>
                </div>
            </div>
        </div>
    </div>
    <div class="img-div-too">
        <img src="/static/img/IMG_1001.jpg">
    </div>
    <div class="moreinfo-slide">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h4>Maybe More Stuff... </h4>
                    <p><i>I like Beer and Wine and Oregon and stuff...</i></p>
                </div>
            </div>
        </div>
    </div>
    <div class="body-slide">
        <div class="container" id="col">
            <div class="row">
                <div class="col-sm-3" id="row" >
                    <img src="/static/img/IMG_0408.jpg">
                </div>
                <div class="col-sm-3" id="row">
                    <img src="/static/img/IMG_1508.jpg">
                </div>
                <div class="col-sm-3" id="row">
                    <img src="/static/img/S5002057.jpg">
                </div>
                <div class="col-sm-3" id="row">
                    <img src="/static/img/IMG_1176.jpg">
                </div>
            </div>
        </div>
    </div>
{% endblock %}